  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ME - MapEdit - Map Editor for the lazy</title>
<link rel='stylesheet'  href='/static/editor/style.css' type='text/css' media='all' />
<link rel='stylesheet'  href='/static/editor/leaflet/leaflet.css' type='text/css' media='all' />
<link rel='stylesheet'  href='/static/editor/Leaflet.draw/dist/leaflet.draw.css' type='text/css' media='all' />
<script src="/static/editor/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/editor/leaflet/leaflet.js"></script>
<script src="/static/editor/leaflet.TileLayer.WMTS/leaflet-tilelayer-wmts.js"></script>
<script src="/static/editor/jquery-plugin-query-object-master/jquery.query-object.js"></script>
<script src="/static/editor/Leaflet.draw/dist/leaflet.draw.js"></script>


</head>
{% url 'kartta' %}
<br>
{% url 'index' %}
<body>
    <div id="map"></div>


<pre>
<script type="application/javascript">
  $(document).ready(function() {
    $.ajax({
      url: 'http://127.0.0.1:8000/edit/list?format=json',
    })
    .then(function(data){

      /*
       * Capitalize first letter of a string
       */
      String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
      }
      var datat = [data];
      // GeoJson array
      var dataz = [{{palvelut|safe}}];

      // URL of the tilelayer
      var base_layer_url = "http://avoindata.maanmittauslaitos.fi/geoserver/ows";
      //http://127.0.0.1:8000/editor/?sw_lat=60.44763071676771&sw_lon=22.204484939575195&ne_lat=60.45821232182131&ne_lon=22.286195755004883

      /*
       * Initialization of Leaflet
       */
      var map = L.map('map');
      map.locate({setView: true, maxZoom: 16});
      console.log(datat);
      console.log(dataz);
      /****
       * Set Layers
       ****/
      // Base layer from MML
      var base = new L.TileLayer.WMS(base_layer_url,{layers: 'Taustakartta'}).addTo(map);
      // Editable layer
      var layer = new L.geoJson(datat, {onEachFeature: show_info}).addTo(map);

      /***
       * Set the controls for the heart of the sun
       ***/
      // Initialise the draw control and pass it the FeatureGroup of editable layers
      var drawControl = new L.Control.Draw({edit:{featureGroup:layer}});

      map.addControl(drawControl);


      /****
       * Events
       ****/
      map.on('locationfound', function(){
        var sw = map.getBounds().getSouthWest();
        var ne = map.getBounds().getNorthEast();
        //window.location.search = "sw_lat=" + sw.lat + "&" + "sw_lon=" + sw.lng + "&" + "ne_lat=" + ne.lat + "&" + "nw_lat=" + ne.lng;
      });
      map.on('dragend', function(){
        var sw = map.getBounds().getSouthWest();
        var ne = map.getBounds().getNorthEast();
        //window.location.search = "sw_lat=" + sw.lat + "&" + "sw_lon=" + sw.lng + "&" + "ne_lat=" + ne.lat + "&" + "nw_lat=" + ne.lng;
      });

      map.on('draw:created', function (e) {
        var type = e.layerType,
            layer = e.layer;

        if (type === 'marker') {
            // Do marker specific actions
        }

        // Do whatever else you need to. (save to db, add to map etc)
        map.addLayer(layer);

      });

      map.on('draw:edited', function (e) {
        var layers = e.layers;
        layers.eachLayer(function (layer) {
            //do whatever you want, most likely save back to db
        });
      });

      map.on('draw:deleted', function (e) {
        var layers = e.layers;
        layers.eachLayer(function (layer) {
          //do whatever you want, most likely save back to db
        });
      });

      function show_info(feature, layer){
        var info;
        for(var key in feature.properties){
          if(feature.properties.hasOwnProperty(key) && feature.properties[key] != null){
            if(info != undefined)
              info += key.capitalize().bold() + ": " + feature.properties[key] + "<br>";
            else
              info = key.capitalize().bold() + ": " + feature.properties[key] + "<br>";
          }
        }
        layer.bindPopup(info);
      }
    });})
</script>
</pre>

</body>
</html>
